{
  "openapi": "3.1.1",
  "info": {
    "title": "SeerAPI",
    "description": "# SeerAPI OpenAPI 文档\n\n**所有你需要的赛尔号数据，尽在此处。**\n\n**项目源码** https://github.com/SeerAPI\n\n**完整文档** https://docs.seerapi.com\n\n## 项目简介\n\nSeerAPI 是一个面向赛尔号数据的开放式 API 平台，为开发者和研究者提供标准化、结构化的游戏数据访问接口。\n\n## 为什么使用 SeerAPI？\n\n### 简化数据获取流程\n\n传统方式获取赛尔号游戏数据需要进行逆向工程、解析游戏文件、处理复杂的数据结构，往往需要数百行代码才能实现基本功能。SeerAPI 将这一过程简化为几行代码的 API 调用，大幅降低开发成本。\n\n### 完整的数据覆盖\n\nSeerAPI 提供全面的游戏数据访问能力：\n\n- **精灵数据**：属性、种族值、技能池、进化链等完整信息\n- **技能系统**：技能效果、威力、PP值、命中率等详细数据\n- **游戏资源**：道具、装备、刻印、特性等游戏元素\n- **数据库访问**：支持 SQL 查询方式直接访问底层数据\n\n### 现代化的使用体验\n\n- **类型安全** 基于 Pydantic 构建的数据模型，提供完整的类型提示、数据验证和序列化支持。\n- **开发友好** 简洁直观的 API 设计，完善的 OpenAPI 文档，并提供 Python SDK 支持。\n- **持续维护** 游戏更新时，SeerAPI 会自动同步最新数据，无需手动维护数据文件。\n\n## 快速开始\n\n### 安装\n\n```bash\npip install seerapi\n```\n\n### 基础使用\n\n```python\nfrom seerapi import SeerAPI\nimport asyncio\n\n\nasync def main():\n    async with SeerAPI() as client:\n        # 查询技能数据\n        skill = await client.get('skill', 38088)\n        print(f\"技能名称: {skill.name}\")\n        print(f\"技能威力: {skill.power}\")\n\n\nasyncio.run(main())\n```",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.seerapi.com"
    }
  ],
  "paths": {
    "v1/achievement/{id}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就资源",
        "description": "成就资源。该模型同时集成了具有能力加成的成就称号数据，通过is_ability_bonus字段区分。<br>**注意**：该资源的ID字段是通过计算得出的，因为游戏内数据中没有提供ID。<br>计算公式为：`(类型ID + 1) * 1000000 + 分支ID * 1000 + 成就ID`",
        "operationId": "get_achievement_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement/{name}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "通过名称获取成就资源",
        "description": "成就资源。该模型同时集成了具有能力加成的成就称号数据，通过is_ability_bonus字段区分。<br>**注意**：该资源的ID字段是通过计算得出的，因为游戏内数据中没有提供ID。<br>计算公式为：`(类型ID + 1) * 1000000 + 分支ID * 1000 + 成就ID`",
        "operationId": "get_achievement_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement/": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就资源列表",
        "description": "成就资源。该模型同时集成了具有能力加成的成就称号数据，通过is_ability_bonus字段区分。<br>**注意**：该资源的ID字段是通过计算得出的，因为游戏内数据中没有提供ID。<br>计算公式为：`(类型ID + 1) * 1000000 + 分支ID * 1000 + 成就ID`",
        "operationId": "get_achievement_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_branch/{id}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就分支资源",
        "description": "成就嵌套结构的中间层，没什么实际意义，仅用于还原游戏内数据结构。",
        "operationId": "get_achievement_branch_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_branch/{name}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "通过名称获取成就分支资源",
        "description": "成就嵌套结构的中间层，没什么实际意义，仅用于还原游戏内数据结构。",
        "operationId": "get_achievement_branch_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_branch/": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就分支资源列表",
        "description": "成就嵌套结构的中间层，没什么实际意义，仅用于还原游戏内数据结构。",
        "operationId": "get_achievement_branch_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_branch_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_branch_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_branch_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_branch_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_type/{id}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就类型资源",
        "description": "成就类型分类。",
        "operationId": "get_achievement_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_type/{name}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "通过名称获取成就类型资源",
        "description": "成就类型分类。",
        "operationId": "get_achievement_type_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_type/": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就类型资源列表",
        "description": "成就类型分类。",
        "operationId": "get_achievement_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_category/{id}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就分类资源",
        "description": "成就分类，目前只有一个隐藏成就的分类。",
        "operationId": "get_achievement_category_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_category/{name}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "通过名称获取成就分类资源",
        "description": "成就分类，目前只有一个隐藏成就的分类。",
        "operationId": "get_achievement_category_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_category/": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就分类资源列表",
        "description": "成就分类，目前只有一个隐藏成就的分类。",
        "operationId": "get_achievement_category_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_category_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_category_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/achievement_category_List"
                    },
                    {
                      "$ref": "#/components/schemas/achievement_category_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/title/{id}": {
      "get": {
        "tags": [
          "成就",
          "称号"
        ],
        "summary": "获取成就称号资源",
        "description": "成就称号资源，包含具有能力加成的成就称号数据。",
        "operationId": "get_title_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/title"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/title"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/title/{name}": {
      "get": {
        "tags": [
          "成就",
          "称号"
        ],
        "summary": "通过名称获取成就称号资源",
        "description": "成就称号资源，包含具有能力加成的成就称号数据。",
        "operationId": "get_title_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/title_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/title_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/title/": {
      "get": {
        "tags": [
          "成就",
          "称号"
        ],
        "summary": "获取成就称号资源列表",
        "description": "成就称号资源，包含具有能力加成的成就称号数据。",
        "operationId": "get_title_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/title_List"
                    },
                    {
                      "$ref": "#/components/schemas/title_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/title_List"
                    },
                    {
                      "$ref": "#/components/schemas/title_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/activity/{id}": {
      "get": {
        "tags": [
          "活动"
        ],
        "summary": "获取活动资源",
        "description": "活动资源，用于表示活动中心里的一个活动条目。该端点包含已经下架的活动信息。",
        "operationId": "get_activity_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activity"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/activity"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/activity/{name}": {
      "get": {
        "tags": [
          "活动"
        ],
        "summary": "通过名称获取活动资源",
        "description": "活动资源，用于表示活动中心里的一个活动条目。该端点包含已经下架的活动信息。",
        "operationId": "get_activity_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activity_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/activity_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/activity/": {
      "get": {
        "tags": [
          "活动"
        ],
        "summary": "获取活动资源列表",
        "description": "活动资源，用于表示活动中心里的一个活动条目。该端点包含已经下架的活动信息。",
        "operationId": "get_activity_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/activity_List"
                    },
                    {
                      "$ref": "#/components/schemas/activity_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/activity_List"
                    },
                    {
                      "$ref": "#/components/schemas/activity_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/activity_type/{id}": {
      "get": {
        "tags": [
          "活动",
          "分类"
        ],
        "summary": "获取活动类型资源",
        "description": "活动类型资源，用于表示活动中心侧边栏的活动类型。",
        "operationId": "get_activity_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activity_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/activity_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/activity_type/": {
      "get": {
        "tags": [
          "活动",
          "分类"
        ],
        "summary": "获取活动类型资源列表",
        "description": "活动类型资源，用于表示活动中心侧边栏的活动类型。",
        "operationId": "get_activity_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/activity_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/activity_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/activity_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/activity_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect/{id}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态"
        ],
        "summary": "获取状态资源",
        "description": "战斗状态资源，包含所有战斗状态（也就是异常状态）数据。",
        "operationId": "get_battle_effect_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect/{name}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态"
        ],
        "summary": "通过名称获取状态资源",
        "description": "战斗状态资源，包含所有战斗状态（也就是异常状态）数据。",
        "operationId": "get_battle_effect_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect/": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态"
        ],
        "summary": "获取状态资源列表",
        "description": "战斗状态资源，包含所有战斗状态（也就是异常状态）数据。",
        "operationId": "get_battle_effect_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/battle_effect_List"
                    },
                    {
                      "$ref": "#/components/schemas/battle_effect_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/battle_effect_List"
                    },
                    {
                      "$ref": "#/components/schemas/battle_effect_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect_type/{id}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态",
          "分类"
        ],
        "summary": "获取状态类型资源",
        "description": "战斗状态分类，用于分类不同类型的战斗状态。",
        "operationId": "get_battle_effect_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect_type/{name}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态",
          "分类"
        ],
        "summary": "通过名称获取状态类型资源",
        "description": "战斗状态分类，用于分类不同类型的战斗状态。",
        "operationId": "get_battle_effect_type_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect_type/": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态",
          "分类"
        ],
        "summary": "获取状态类型资源列表",
        "description": "战斗状态分类，用于分类不同类型的战斗状态。",
        "operationId": "get_battle_effect_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/battle_effect_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/battle_effect_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/battle_effect_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/battle_effect_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/resistance_category/{id}": {
      "get": {
        "tags": [
          "抗性",
          "异常状态",
          "战斗状态",
          "分类"
        ],
        "summary": "获取抗性类型资源",
        "description": "用于分类异常状态所属的抗性类型。",
        "operationId": "get_resistance_category_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resistance_category"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/resistance_category"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/resistance_category/{name}": {
      "get": {
        "tags": [
          "抗性",
          "异常状态",
          "战斗状态",
          "分类"
        ],
        "summary": "通过名称获取抗性类型资源",
        "description": "用于分类异常状态所属的抗性类型。",
        "operationId": "get_resistance_category_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resistance_category_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/resistance_category_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/resistance_category/": {
      "get": {
        "tags": [
          "抗性",
          "异常状态",
          "战斗状态",
          "分类"
        ],
        "summary": "获取抗性类型资源列表",
        "description": "用于分类异常状态所属的抗性类型。",
        "operationId": "get_resistance_category_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/resistance_category_List"
                    },
                    {
                      "$ref": "#/components/schemas/resistance_category_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/resistance_category_List"
                    },
                    {
                      "$ref": "#/components/schemas/resistance_category_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/avatar_head/{id}": {
      "get": {
        "tags": [
          "头像",
          "装饰品"
        ],
        "summary": "获取头像资源",
        "description": "头像资源，用于表示玩家头像信息。",
        "operationId": "get_avatar_head_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_head"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_head"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/avatar_head/{name}": {
      "get": {
        "tags": [
          "头像",
          "装饰品"
        ],
        "summary": "通过名称获取头像资源",
        "description": "头像资源，用于表示玩家头像信息。",
        "operationId": "get_avatar_head_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_head_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_head_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/avatar_head/": {
      "get": {
        "tags": [
          "头像",
          "装饰品"
        ],
        "summary": "获取头像资源列表",
        "description": "头像资源，用于表示玩家头像信息。",
        "operationId": "get_avatar_head_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/avatar_head_List"
                    },
                    {
                      "$ref": "#/components/schemas/avatar_head_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/avatar_head_List"
                    },
                    {
                      "$ref": "#/components/schemas/avatar_head_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/avatar_frame/{id}": {
      "get": {
        "tags": [
          "头像框",
          "装饰品"
        ],
        "summary": "获取头像框资源",
        "description": "头像框资源，用于表示玩家头像框信息。",
        "operationId": "get_avatar_frame_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_frame"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_frame"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/avatar_frame/{name}": {
      "get": {
        "tags": [
          "头像框",
          "装饰品"
        ],
        "summary": "通过名称获取头像框资源",
        "description": "头像框资源，用于表示玩家头像框信息。",
        "operationId": "get_avatar_frame_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_frame_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/avatar_frame_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/avatar_frame/": {
      "get": {
        "tags": [
          "头像框",
          "装饰品"
        ],
        "summary": "获取头像框资源列表",
        "description": "头像框资源，用于表示玩家头像框信息。",
        "operationId": "get_avatar_frame_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/avatar_frame_List"
                    },
                    {
                      "$ref": "#/components/schemas/avatar_frame_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/avatar_frame_List"
                    },
                    {
                      "$ref": "#/components/schemas/avatar_frame_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/namecard_background/{id}": {
      "get": {
        "tags": [
          "名片背景",
          "装饰品"
        ],
        "summary": "获取名片背景资源",
        "description": "名片背景资源，用于表示用于Unity端玩家信息页面的背景资源。",
        "operationId": "get_namecard_background_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/namecard_background"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/namecard_background"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/namecard_background/{name}": {
      "get": {
        "tags": [
          "名片背景",
          "装饰品"
        ],
        "summary": "通过名称获取名片背景资源",
        "description": "名片背景资源，用于表示用于Unity端玩家信息页面的背景资源。",
        "operationId": "get_namecard_background_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/namecard_background_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/namecard_background_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/namecard_background/": {
      "get": {
        "tags": [
          "名片背景",
          "装饰品"
        ],
        "summary": "获取名片背景资源列表",
        "description": "名片背景资源，用于表示用于Unity端玩家信息页面的背景资源。",
        "operationId": "get_namecard_background_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/namecard_background_List"
                    },
                    {
                      "$ref": "#/components/schemas/namecard_background_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/namecard_background_List"
                    },
                    {
                      "$ref": "#/components/schemas/namecard_background_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/nickname_background/{id}": {
      "get": {
        "tags": [
          "昵称背景",
          "装饰品"
        ],
        "summary": "获取昵称背景资源",
        "description": "昵称背景资源，用于表示玩家昵称背景信息。",
        "operationId": "get_nickname_background_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nickname_background"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/nickname_background"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/nickname_background/{name}": {
      "get": {
        "tags": [
          "昵称背景",
          "装饰品"
        ],
        "summary": "通过名称获取昵称背景资源",
        "description": "昵称背景资源，用于表示玩家昵称背景信息。",
        "operationId": "get_nickname_background_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nickname_background_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/nickname_background_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/nickname_background/": {
      "get": {
        "tags": [
          "昵称背景",
          "装饰品"
        ],
        "summary": "获取昵称背景资源列表",
        "description": "昵称背景资源，用于表示玩家昵称背景信息。",
        "operationId": "get_nickname_background_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/nickname_background_List"
                    },
                    {
                      "$ref": "#/components/schemas/nickname_background_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/nickname_background_List"
                    },
                    {
                      "$ref": "#/components/schemas/nickname_background_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/homepage_background/{id}": {
      "get": {
        "tags": [
          "主页背景",
          "装饰品"
        ],
        "summary": "获取主页背景资源",
        "description": "主页背景资源，用于表示用于Unity端主页的背景资源。",
        "operationId": "get_homepage_background_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/homepage_background"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/homepage_background"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/homepage_background/{name}": {
      "get": {
        "tags": [
          "主页背景",
          "装饰品"
        ],
        "summary": "通过名称获取主页背景资源",
        "description": "主页背景资源，用于表示用于Unity端主页的背景资源。",
        "operationId": "get_homepage_background_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/homepage_background_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/homepage_background_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/homepage_background/": {
      "get": {
        "tags": [
          "主页背景",
          "装饰品"
        ],
        "summary": "获取主页背景资源列表",
        "description": "主页背景资源，用于表示用于Unity端主页的背景资源。",
        "operationId": "get_homepage_background_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/homepage_background_List"
                    },
                    {
                      "$ref": "#/components/schemas/homepage_background_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/homepage_background_List"
                    },
                    {
                      "$ref": "#/components/schemas/homepage_background_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect/{id}": {
      "get": {
        "tags": [
          "精灵",
          "特性"
        ],
        "summary": "获取特性资源",
        "description": "精灵特性，该资源的ID字段不一定连续。",
        "operationId": "get_pet_effect_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect/{name}": {
      "get": {
        "tags": [
          "精灵",
          "特性"
        ],
        "summary": "通过名称获取特性资源",
        "description": "精灵特性，该资源的ID字段不一定连续。",
        "operationId": "get_pet_effect_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect/": {
      "get": {
        "tags": [
          "精灵",
          "特性"
        ],
        "summary": "获取特性资源列表",
        "description": "精灵特性，该资源的ID字段不一定连续。",
        "operationId": "get_pet_effect_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/pet_effect_List"
                    },
                    {
                      "$ref": "#/components/schemas/pet_effect_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/pet_effect_List"
                    },
                    {
                      "$ref": "#/components/schemas/pet_effect_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect_group/{id}": {
      "get": {
        "tags": [
          "精灵",
          "特性",
          "分类"
        ],
        "summary": "获取特性组资源",
        "description": "特性组，用于分组同名特性（0~5星）。",
        "operationId": "get_pet_effect_group_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect_group/{name}": {
      "get": {
        "tags": [
          "精灵",
          "特性",
          "分类"
        ],
        "summary": "通过名称获取特性组资源",
        "description": "特性组，用于分组同名特性（0~5星）。",
        "operationId": "get_pet_effect_group_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect_group/": {
      "get": {
        "tags": [
          "精灵",
          "特性",
          "分类"
        ],
        "summary": "获取特性组资源列表",
        "description": "特性组，用于分组同名特性（0~5星）。",
        "operationId": "get_pet_effect_group_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/pet_effect_group_List"
                    },
                    {
                      "$ref": "#/components/schemas/pet_effect_group_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/pet_effect_group_List"
                    },
                    {
                      "$ref": "#/components/schemas/pet_effect_group_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_variation/{id}": {
      "get": {
        "tags": [
          "精灵",
          "特质",
          "特性"
        ],
        "summary": "获取特质效果资源",
        "description": "异能精灵特质效果，该资源的ID字段是一段为特质分配的特性ID区段，从1072开始。",
        "operationId": "get_pet_variation_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_variation/{name}": {
      "get": {
        "tags": [
          "精灵",
          "特质",
          "特性"
        ],
        "summary": "通过名称获取特质效果资源",
        "description": "异能精灵特质效果，该资源的ID字段是一段为特质分配的特性ID区段，从1072开始。",
        "operationId": "get_pet_variation_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_variation/": {
      "get": {
        "tags": [
          "精灵",
          "特质",
          "特性"
        ],
        "summary": "获取特质效果资源列表",
        "description": "异能精灵特质效果，该资源的ID字段是一段为特质分配的特性ID区段，从1072开始。",
        "operationId": "get_pet_variation_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/pet_variation_List"
                    },
                    {
                      "$ref": "#/components/schemas/pet_variation_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/pet_variation_List"
                    },
                    {
                      "$ref": "#/components/schemas/pet_variation_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/eid_effect/{id}": {
      "get": {
        "tags": [
          "eid效果"
        ],
        "summary": "获取eid效果资源",
        "description": "该资源描述并整理了赛尔号内部实现的一种通用效果，魂印，特性，装备，能量珠效果在内部都通过 eid 描述，同一 eid 效果可视作判定完全相同的效果，即使它们的类型不同。",
        "operationId": "get_eid_effect_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eid_effect"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/eid_effect"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/eid_effect/": {
      "get": {
        "tags": [
          "eid效果"
        ],
        "summary": "获取eid效果资源列表",
        "description": "该资源描述并整理了赛尔号内部实现的一种通用效果，魂印，特性，装备，能量珠效果在内部都通过 eid 描述，同一 eid 效果可视作判定完全相同的效果，即使它们的类型不同。",
        "operationId": "get_eid_effect_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/eid_effect_List"
                    },
                    {
                      "$ref": "#/components/schemas/eid_effect_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/eid_effect_List"
                    },
                    {
                      "$ref": "#/components/schemas/eid_effect_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/energy_bead/{id}": {
      "get": {
        "tags": [
          "能量珠",
          "道具"
        ],
        "summary": "获取能量珠资源",
        "description": "能量珠资源。",
        "operationId": "get_energy_bead_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/energy_bead/{name}": {
      "get": {
        "tags": [
          "能量珠",
          "道具"
        ],
        "summary": "通过名称获取能量珠资源",
        "description": "能量珠资源。",
        "operationId": "get_energy_bead_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/energy_bead/": {
      "get": {
        "tags": [
          "能量珠",
          "道具"
        ],
        "summary": "获取能量珠资源列表",
        "description": "能量珠资源。",
        "operationId": "get_energy_bead_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/energy_bead_List"
                    },
                    {
                      "$ref": "#/components/schemas/energy_bead_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/energy_bead_List"
                    },
                    {
                      "$ref": "#/components/schemas/energy_bead_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip/{id}": {
      "get": {
        "tags": [
          "装备",
          "部件"
        ],
        "summary": "获取部件资源",
        "description": "赛尔装备部件资源。",
        "operationId": "get_equip_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip/{name}": {
      "get": {
        "tags": [
          "装备",
          "部件"
        ],
        "summary": "通过名称获取部件资源",
        "description": "赛尔装备部件资源。",
        "operationId": "get_equip_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip/": {
      "get": {
        "tags": [
          "装备",
          "部件"
        ],
        "summary": "获取部件资源列表",
        "description": "赛尔装备部件资源。",
        "operationId": "get_equip_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/equip_List"
                    },
                    {
                      "$ref": "#/components/schemas/equip_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/equip_List"
                    },
                    {
                      "$ref": "#/components/schemas/equip_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/suit/{id}": {
      "get": {
        "tags": [
          "装备",
          "套装"
        ],
        "summary": "获取套装资源",
        "description": "赛尔套装资源。",
        "operationId": "get_suit_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suit"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/suit"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/suit/{name}": {
      "get": {
        "tags": [
          "装备",
          "套装"
        ],
        "summary": "通过名称获取套装资源",
        "description": "赛尔套装资源。",
        "operationId": "get_suit_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suit_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/suit_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/suit/": {
      "get": {
        "tags": [
          "装备",
          "套装"
        ],
        "summary": "获取套装资源列表",
        "description": "赛尔套装资源。",
        "operationId": "get_suit_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/suit_List"
                    },
                    {
                      "$ref": "#/components/schemas/suit_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/suit_List"
                    },
                    {
                      "$ref": "#/components/schemas/suit_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_type/{id}": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "获取部件类型资源",
        "description": "赛尔装备部件类型，分为头部，手部，腰部，脚部，背景，星际座驾。",
        "operationId": "get_equip_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_type/{name}": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "通过名称获取部件类型资源",
        "description": "赛尔装备部件类型，分为头部，手部，腰部，脚部，背景，星际座驾。",
        "operationId": "get_equip_type_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_type/": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "获取部件类型资源列表",
        "description": "赛尔装备部件类型，分为头部，手部，腰部，脚部，背景，星际座驾。",
        "operationId": "get_equip_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/equip_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/equip_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/equip_type_List"
                    },
                    {
                      "$ref": "#/components/schemas/equip_type_ListExpanded"
                    }
                  ],
                  "description": "实际返回格式由 expand 查询参数决定，见 expand 参数说明。"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_effective_occasion/{id}": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "获取部件能力加成生效场合资源",
        "description": "赛尔能力加成装备生效场合，分为全部，仅赛尔间对战（PVP），仅对Boss有效（PVE）。",
        "operationId": "get_equip_effective_occasion_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_effective_occasion"
                }
              },
              "application/schema-instance+json": {
[...]
