{
  "openapi": "3.1.1",
  "info": {
    "title": "SeerAPI",
    "description": "# SeerAPI OpenAPI 文档\n\n**所有你需要的赛尔号数据，尽在此处。**\n\n**项目源码** https://github.com/SeerAPI\n\n**完整文档** https://docs.seerapi.com\n\n## 项目简介\n\nSeerAPI 是一个面向赛尔号数据的开放式 API 平台，为开发者和研究者提供标准化、结构化的游戏数据访问接口。\n\n## 为什么使用 SeerAPI？\n\n### 简化数据获取流程\n\n传统方式获取赛尔号游戏数据需要进行逆向工程、解析游戏文件、处理复杂的数据结构，往往需要数百行代码才能实现基本功能。SeerAPI 将这一过程简化为几行代码的 API 调用，大幅降低开发成本。\n\n### 完整的数据覆盖\n\nSeerAPI 提供全面的游戏数据访问能力：\n\n- **精灵数据**：属性、种族值、技能池、进化链等完整信息\n- **技能系统**：技能效果、威力、PP值、命中率等详细数据\n- **游戏资源**：道具、装备、刻印、特性等游戏元素\n- **数据库访问**：支持 SQL 查询方式直接访问底层数据\n\n### 现代化的使用体验\n\n- **类型安全** 基于 Pydantic 构建的数据模型，提供完整的类型提示、数据验证和序列化支持。\n- **开发友好** 简洁直观的 API 设计，完善的 OpenAPI 文档，并提供 Python SDK 支持。\n- **持续维护** 游戏更新时，SeerAPI 会自动同步最新数据，无需手动维护数据文件。\n\n## 快速开始\n\n### 安装\n\n```bash\npip install seerapi\n```\n\n### 基础使用\n\n```python\nfrom seerapi import SeerAPI\nimport asyncio\n\n\nasync def main():\n    async with SeerAPI() as client:\n        # 查询技能数据\n        skill = await client.get('skill', 38088)\n        print(f\"技能名称: {skill.name}\")\n        print(f\"技能威力: {skill.power}\")\n\n\nasyncio.run(main())\n```",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.seerapi.com"
    }
  ],
  "paths": {
    "v1/achievement/{id}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就资源",
        "description": "成就资源。该模型同时集成了具有能力加成的成就称号数据，通过is_ability_bonus字段区分。",
        "operationId": "get_achievement_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement/{name}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "通过名称获取成就资源",
        "description": "成就资源。该模型同时集成了具有能力加成的成就称号数据，通过is_ability_bonus字段区分。",
        "operationId": "get_achievement_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement/": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就资源列表",
        "description": "成就资源。该模型同时集成了具有能力加成的成就称号数据，通过is_ability_bonus字段区分。",
        "operationId": "get_achievement_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_branch/{id}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就分支资源",
        "description": "成就嵌套结构的中间层，没什么实际意义，仅用于还原游戏内数据结构。",
        "operationId": "get_achievement_branch_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_branch/{name}": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "通过名称获取成就分支资源",
        "description": "成就嵌套结构的中间层，没什么实际意义，仅用于还原游戏内数据结构。",
        "operationId": "get_achievement_branch_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_branch/": {
      "get": {
        "tags": [
          "成就"
        ],
        "summary": "获取成就分支资源列表",
        "description": "成就嵌套结构的中间层，没什么实际意义，仅用于还原游戏内数据结构。",
        "operationId": "get_achievement_branch_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_branch_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_type/{id}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就类型资源",
        "description": "成就类型分类。",
        "operationId": "get_achievement_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_type/{name}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "通过名称获取成就类型资源",
        "description": "成就类型分类。",
        "operationId": "get_achievement_type_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_type/": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就类型资源列表",
        "description": "成就类型分类。",
        "operationId": "get_achievement_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_type_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_category/{id}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就分类资源",
        "description": "成就分类，目前只有一个隐藏成就的分类。",
        "operationId": "get_achievement_category_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_category/{name}": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "通过名称获取成就分类资源",
        "description": "成就分类，目前只有一个隐藏成就的分类。",
        "operationId": "get_achievement_category_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/achievement_category/": {
      "get": {
        "tags": [
          "成就",
          "分类"
        ],
        "summary": "获取成就分类资源列表",
        "description": "成就分类，目前只有一个隐藏成就的分类。",
        "operationId": "get_achievement_category_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/achievement_category_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/title/{id}": {
      "get": {
        "tags": [
          "成就",
          "称号"
        ],
        "summary": "获取成就称号资源",
        "description": "成就称号资源，包含具有能力加成的成就称号数据。",
        "operationId": "get_title_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/title"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/title"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/title/{name}": {
      "get": {
        "tags": [
          "成就",
          "称号"
        ],
        "summary": "通过名称获取成就称号资源",
        "description": "成就称号资源，包含具有能力加成的成就称号数据。",
        "operationId": "get_title_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/title_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/title_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/title/": {
      "get": {
        "tags": [
          "成就",
          "称号"
        ],
        "summary": "获取成就称号资源列表",
        "description": "成就称号资源，包含具有能力加成的成就称号数据。",
        "operationId": "get_title_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/title_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/title_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect/{id}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态"
        ],
        "summary": "获取状态资源",
        "description": "战斗状态资源，包含所有战斗状态（也就是异常状态）数据。",
        "operationId": "get_battle_effect_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect/{name}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态"
        ],
        "summary": "通过名称获取状态资源",
        "description": "战斗状态资源，包含所有战斗状态（也就是异常状态）数据。",
        "operationId": "get_battle_effect_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect/": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态"
        ],
        "summary": "获取状态资源列表",
        "description": "战斗状态资源，包含所有战斗状态（也就是异常状态）数据。",
        "operationId": "get_battle_effect_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect_type/{id}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态",
          "分类"
        ],
        "summary": "获取状态类型资源",
        "description": "战斗状态分类，用于分类不同类型的战斗状态。",
        "operationId": "get_battle_effect_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect_type/{name}": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态",
          "分类"
        ],
        "summary": "通过名称获取状态类型资源",
        "description": "战斗状态分类，用于分类不同类型的战斗状态。",
        "operationId": "get_battle_effect_type_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/battle_effect_type/": {
      "get": {
        "tags": [
          "战斗状态",
          "异常状态",
          "分类"
        ],
        "summary": "获取状态类型资源列表",
        "description": "战斗状态分类，用于分类不同类型的战斗状态。",
        "operationId": "get_battle_effect_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/battle_effect_type_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect/{id}": {
      "get": {
        "tags": [
          "精灵",
          "特性"
        ],
        "summary": "获取特性资源",
        "description": "精灵特性，该资源的ID字段不一定连续。",
        "operationId": "get_pet_effect_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect/{name}": {
      "get": {
        "tags": [
          "精灵",
          "特性"
        ],
        "summary": "通过名称获取特性资源",
        "description": "精灵特性，该资源的ID字段不一定连续。",
        "operationId": "get_pet_effect_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect/": {
      "get": {
        "tags": [
          "精灵",
          "特性"
        ],
        "summary": "获取特性资源列表",
        "description": "精灵特性，该资源的ID字段不一定连续。",
        "operationId": "get_pet_effect_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect_group/{id}": {
      "get": {
        "tags": [
          "精灵",
          "特性",
          "分类"
        ],
        "summary": "获取特性组资源",
        "description": "特性组，用于分组同名特性（0~5星）。",
        "operationId": "get_pet_effect_group_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect_group/{name}": {
      "get": {
        "tags": [
          "精灵",
          "特性",
          "分类"
        ],
        "summary": "通过名称获取特性组资源",
        "description": "特性组，用于分组同名特性（0~5星）。",
        "operationId": "get_pet_effect_group_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_effect_group/": {
      "get": {
        "tags": [
          "精灵",
          "特性",
          "分类"
        ],
        "summary": "获取特性组资源列表",
        "description": "特性组，用于分组同名特性（0~5星）。",
        "operationId": "get_pet_effect_group_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_effect_group_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_variation/{id}": {
      "get": {
        "tags": [
          "精灵",
          "特质",
          "特性"
        ],
        "summary": "获取特质效果资源",
        "description": "异能精灵特质效果，该资源的ID字段是一段为特质分配的特性ID区段，从1072开始。",
        "operationId": "get_pet_variation_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_variation/{name}": {
      "get": {
        "tags": [
          "精灵",
          "特质",
          "特性"
        ],
        "summary": "通过名称获取特质效果资源",
        "description": "异能精灵特质效果，该资源的ID字段是一段为特质分配的特性ID区段，从1072开始。",
        "operationId": "get_pet_variation_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/pet_variation/": {
      "get": {
        "tags": [
          "精灵",
          "特质",
          "特性"
        ],
        "summary": "获取特质效果资源列表",
        "description": "异能精灵特质效果，该资源的ID字段是一段为特质分配的特性ID区段，从1072开始。",
        "operationId": "get_pet_variation_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/pet_variation_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/eid_effect/{id}": {
      "get": {
        "tags": [
          "eid效果"
        ],
        "summary": "获取eid效果资源",
        "description": "该资源描述并整理了赛尔号内部实现的一种通用效果，魂印，特性，装备，能量珠效果在内部都通过 eid 描述，同一 eid 效果可视作判定完全相同的效果，即使它们的类型不同。",
        "operationId": "get_eid_effect_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eid_effect"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/eid_effect"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/eid_effect/": {
      "get": {
        "tags": [
          "eid效果"
        ],
        "summary": "获取eid效果资源列表",
        "description": "该资源描述并整理了赛尔号内部实现的一种通用效果，魂印，特性，装备，能量珠效果在内部都通过 eid 描述，同一 eid 效果可视作判定完全相同的效果，即使它们的类型不同。",
        "operationId": "get_eid_effect_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eid_effect_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/eid_effect_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/energy_bead/{id}": {
      "get": {
        "tags": [
          "能量珠",
          "道具"
        ],
        "summary": "获取能量珠资源",
        "description": "能量珠资源。",
        "operationId": "get_energy_bead_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/energy_bead/{name}": {
      "get": {
        "tags": [
          "能量珠",
          "道具"
        ],
        "summary": "通过名称获取能量珠资源",
        "description": "能量珠资源。",
        "operationId": "get_energy_bead_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/energy_bead/": {
      "get": {
        "tags": [
          "能量珠",
          "道具"
        ],
        "summary": "获取能量珠资源列表",
        "description": "能量珠资源。",
        "operationId": "get_energy_bead_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/energy_bead_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip/{id}": {
      "get": {
        "tags": [
          "装备",
          "部件"
        ],
        "summary": "获取部件资源",
        "description": "赛尔装备部件资源。",
        "operationId": "get_equip_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip/{name}": {
      "get": {
        "tags": [
          "装备",
          "部件"
        ],
        "summary": "通过名称获取部件资源",
        "description": "赛尔装备部件资源。",
        "operationId": "get_equip_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip/": {
      "get": {
        "tags": [
          "装备",
          "部件"
        ],
        "summary": "获取部件资源列表",
        "description": "赛尔装备部件资源。",
        "operationId": "get_equip_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/suit/{id}": {
      "get": {
        "tags": [
          "装备",
          "套装"
        ],
        "summary": "获取套装资源",
        "description": "赛尔套装资源。",
        "operationId": "get_suit_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suit"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/suit"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/suit/{name}": {
      "get": {
        "tags": [
          "装备",
          "套装"
        ],
        "summary": "通过名称获取套装资源",
        "description": "赛尔套装资源。",
        "operationId": "get_suit_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suit_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/suit_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/suit/": {
      "get": {
        "tags": [
          "装备",
          "套装"
        ],
        "summary": "获取套装资源列表",
        "description": "赛尔套装资源。",
        "operationId": "get_suit_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suit_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/suit_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_type/{id}": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "获取部件类型资源",
        "description": "赛尔装备部件类型，分为头部，手部，腰部，脚部，背景，星际座驾。",
        "operationId": "get_equip_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_type/{name}": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "通过名称获取部件类型资源",
        "description": "赛尔装备部件类型，分为头部，手部，腰部，脚部，背景，星际座驾。",
        "operationId": "get_equip_type_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_type/": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "获取部件类型资源列表",
        "description": "赛尔装备部件类型，分为头部，手部，腰部，脚部，背景，星际座驾。",
        "operationId": "get_equip_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_type_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_effective_occasion/{id}": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "获取部件能力加成生效场合资源",
        "description": "赛尔能力加成装备生效场合，分为全部，仅赛尔间对战（PVP），仅对Boss有效（PVE）。",
        "operationId": "get_equip_effective_occasion_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_effective_occasion"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_effective_occasion"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/equip_effective_occasion/": {
      "get": {
        "tags": [
          "装备",
          "部件",
          "分类"
        ],
        "summary": "获取部件能力加成生效场合资源列表",
        "description": "赛尔能力加成装备生效场合，分为全部，仅赛尔间对战（PVP），仅对Boss有效（PVE）。",
        "operationId": "get_equip_effective_occasion_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_effective_occasion_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/equip_effective_occasion_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/soulmark/{id}": {
      "get": {
        "tags": [
          "精灵",
          "魂印"
        ],
        "summary": "获取魂印资源",
        "description": "魂印资源，该资源还整理了魂印的强化关系。",
        "operationId": "get_soulmark_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/soulmark/": {
      "get": {
        "tags": [
          "精灵",
          "魂印"
        ],
        "summary": "获取魂印资源列表",
        "description": "魂印资源，该资源还整理了魂印的强化关系。",
        "operationId": "get_soulmark_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/soulmark_tag/{id}": {
      "get": {
        "tags": [
          "精灵",
          "魂印",
          "分类"
        ],
        "summary": "获取魂印标签资源",
        "description": "魂印标签，例如强攻，断回合等。",
        "operationId": "get_soulmark_tag_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_tag"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_tag"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/soulmark_tag/{name}": {
      "get": {
        "tags": [
          "精灵",
          "魂印",
          "分类"
        ],
        "summary": "通过名称获取魂印标签资源",
        "description": "魂印标签，例如强攻，断回合等。",
        "operationId": "get_soulmark_tag_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_tag_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_tag_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/soulmark_tag/": {
      "get": {
        "tags": [
          "精灵",
          "魂印",
          "分类"
        ],
        "summary": "获取魂印标签资源列表",
        "description": "魂印标签，例如强攻，断回合等。",
        "operationId": "get_soulmark_tag_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_tag_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/soulmark_tag_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/element_type/{id}": {
      "get": {
        "tags": [
          "属性"
        ],
        "summary": "获取属性资源",
        "description": "属性资源，该资源仅作为基础资源，保存属性克制关系（TODO）等数据。不包含双属性数据，实际使用时请使用 TypeCombination 资源。",
        "operationId": "get_element_type_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/element_type/{name}": {
      "get": {
        "tags": [
          "属性"
        ],
        "summary": "通过名称获取属性资源",
        "description": "属性资源，该资源仅作为基础资源，保存属性克制关系（TODO）等数据。不包含双属性数据，实际使用时请使用 TypeCombination 资源。",
        "operationId": "get_element_type_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/element_type/": {
      "get": {
        "tags": [
          "属性"
        ],
        "summary": "获取属性资源列表",
        "description": "属性资源，该资源仅作为基础资源，保存属性克制关系（TODO）等数据。不包含双属性数据，实际使用时请使用 TypeCombination 资源。",
        "operationId": "get_element_type_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/element_type_combination/{id}": {
      "get": {
        "tags": [
          "属性",
          "组合"
        ],
        "summary": "获取属性组合资源",
        "description": "属性组合资源，所有包含所有的单属性和双属性数据。注意\"第一属性\"和\"第二属性\"仅为了区分两个属性，游戏内并无主次之分。",
        "operationId": "get_element_type_combination_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_combination"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_combination"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/element_type_combination/{name}": {
      "get": {
        "tags": [
          "属性",
          "组合"
        ],
        "summary": "通过名称获取属性组合资源",
        "description": "属性组合资源，所有包含所有的单属性和双属性数据。注意\"第一属性\"和\"第二属性\"仅为了区分两个属性，游戏内并无主次之分。",
        "operationId": "get_element_type_combination_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_combination_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_combination_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/element_type_combination/": {
      "get": {
        "tags": [
          "属性",
          "组合"
        ],
        "summary": "获取属性组合资源列表",
        "description": "属性组合资源，所有包含所有的单属性和双属性数据。注意\"第一属性\"和\"第二属性\"仅为了区分两个属性，游戏内并无主次之分。",
        "operationId": "get_element_type_combination_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_combination_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/element_type_combination_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem/{id}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "获取宝石资源",
        "description": "刻印宝石，返回的模型中同时包含一代和二代宝石的相关字段，可通过generation_id字段区分。",
        "operationId": "get_gem_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem/{name}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "通过名称获取宝石资源",
        "description": "刻印宝石，返回的模型中同时包含一代和二代宝石的相关字段，可通过generation_id字段区分。",
        "operationId": "get_gem_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem/": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "获取宝石资源列表",
        "description": "刻印宝石，返回的模型中同时包含一代和二代宝石的相关字段，可通过generation_id字段区分。",
        "operationId": "get_gem_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_category/{id}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具",
          "分类"
        ],
        "summary": "获取宝石类别资源",
        "description": "宝石类别，用于分类同一效果的不同等级宝石。",
        "operationId": "get_gem_category_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_category"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_category"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_category/{name}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具",
          "分类"
        ],
        "summary": "通过名称获取宝石类别资源",
        "description": "宝石类别，用于分类同一效果的不同等级宝石。",
        "operationId": "get_gem_category_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_category_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_category_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_category/": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具",
          "分类"
        ],
        "summary": "获取宝石类别资源列表",
        "description": "宝石类别，用于分类同一效果的不同等级宝石。",
        "operationId": "get_gem_category_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_category_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_category_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_generation_category/{id}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具",
          "分类"
        ],
        "summary": "获取宝石世代类别资源",
        "description": "宝石世代类别，用于分类不同世代的宝石。",
        "operationId": "get_gem_generation_category_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_generation_category"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_generation_category"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_generation_category/": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具",
          "分类"
        ],
        "summary": "获取宝石世代类别资源列表",
        "description": "宝石世代类别，用于分类不同世代的宝石。",
        "operationId": "get_gem_generation_category_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_generation_category_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_generation_category_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_gen1/{id}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "获取一代刻印宝石资源",
        "description": "一代刻印宝石资源。",
        "operationId": "get_gem_gen1_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen1"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen1"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_gen1/{name}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "通过名称获取一代刻印宝石资源",
        "description": "一代刻印宝石资源。",
        "operationId": "get_gem_gen1_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen1_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen1_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_gen1/": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "获取一代刻印宝石资源列表",
        "description": "一代刻印宝石资源。",
        "operationId": "get_gem_gen1_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen1_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen1_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_gen2/{id}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "获取二代刻印宝石资源",
        "description": "二代刻印宝石资源。",
        "operationId": "get_gem_gen2_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen2"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen2"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_gen2/{name}": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "通过名称获取二代刻印宝石资源",
        "description": "二代刻印宝石资源。",
        "operationId": "get_gem_gen2_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen2_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen2_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/gem_gen2/": {
      "get": {
        "tags": [
          "刻印宝石",
          "刻印",
          "道具"
        ],
        "summary": "获取二代刻印宝石资源列表",
        "description": "二代刻印宝石资源。",
        "operationId": "get_gem_gen2_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen2_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/gem_gen2_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_activation_item/{id}": {
      "get": {
        "tags": [
          "技能激活道具",
          "道具",
          "技能",
          "精灵"
        ],
        "summary": "获取精灵技能激活道具资源",
        "description": "精灵技能激活道具，返回的模型中包含技能和精灵相关的引用，以及激活该技能所需的道具数量。",
        "operationId": "get_skill_activation_item_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_activation_item"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_activation_item"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_activation_item/{name}": {
      "get": {
        "tags": [
          "技能激活道具",
          "道具",
          "技能",
          "精灵"
        ],
        "summary": "通过名称获取精灵技能激活道具资源",
        "description": "精灵技能激活道具，返回的模型中包含技能和精灵相关的引用，以及激活该技能所需的道具数量。",
        "operationId": "get_skill_activation_item_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_activation_item_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_activation_item_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_activation_item/": {
      "get": {
        "tags": [
          "技能激活道具",
          "道具",
          "技能",
          "精灵"
        ],
        "summary": "获取精灵技能激活道具资源列表",
        "description": "精灵技能激活道具，返回的模型中包含技能和精灵相关的引用，以及激活该技能所需的道具数量。",
        "operationId": "get_skill_activation_item_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_activation_item_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_activation_item_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_stone/{id}": {
      "get": {
        "tags": [
          "技能石",
          "道具"
        ],
        "summary": "获取技能石资源",
        "description": "技能石资源。",
        "operationId": "get_skill_stone_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_stone/{name}": {
      "get": {
        "tags": [
          "技能石",
          "道具"
        ],
        "summary": "通过名称获取技能石资源",
        "description": "技能石资源。",
        "operationId": "get_skill_stone_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_stone/": {
      "get": {
        "tags": [
          "技能石",
          "道具"
        ],
        "summary": "获取技能石资源列表",
        "description": "技能石资源。",
        "operationId": "get_skill_stone_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_stone_category/{id}": {
      "get": {
        "tags": [
          "技能石",
          "道具",
          "分类"
        ],
        "summary": "获取技能石分类资源",
        "description": "技能石分类，按属性分类。",
        "operationId": "get_skill_stone_category_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_category"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_category"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_stone_category/{name}": {
      "get": {
        "tags": [
          "技能石",
          "道具",
          "分类"
        ],
        "summary": "通过名称获取技能石分类资源",
        "description": "技能石分类，按属性分类。",
        "operationId": "get_skill_stone_category_by_name",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_category_NamedData"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_category_NamedData"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/skill_stone_category/": {
      "get": {
        "tags": [
          "技能石",
          "道具",
          "分类"
        ],
        "summary": "获取技能石分类资源列表",
        "description": "技能石分类，按属性分类。",
        "operationId": "get_skill_stone_category_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/Etag"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_category_List"
                }
              },
              "application/schema-instance+json": {
                "schema": {
                  "$ref": "#/components/schemas/skill_stone_category_List"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/304_NotModified"
          }
        },
        "deprecated": false
      }
    },
    "v1/mintmark/{id}": {
      "get": {
        "tags": [
          "刻印"
        ],
[...]
